.flex-container{
    display: flex;
    height: 500px;
    width: 1000px;
    font-size: 8em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
    flex-direction:column;
    justify-content: baseline;
    border: 3px solid white;
    color: black;
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 15px; 
    /* position: sticky; */
    
    
    
    }

.flex-item-1 {
    /* height: 200px; */
    width: 200px;
    background-color:red !important;
    align-self: center;
    position: sticky;
    right: 100px;
    top: 100px;
    left: 100px;
    
    
}
.flex-item-2 {
    /* height: 200px; */
    width: 200px;
    background-color:blue;


}
.flex-item-3 {
    /* height: 200px; */
    width: 200px;
    background-color:yellow;

}

.flex-item-4 {
    /* height: 200px; */
    width: 200px;
    background-color:brown;
    

}

.flex-item-5 {
    /* height: 200px; */
    width: 200px;
    background-color:orange;
    

}

.flex-item-6 {
    /* height: 200px; */
    width: 200px;
    background-color:purple;
    

}
